@import "tailwindcss";
@plugin "@tailwindcss/typography";

@plugin "daisyui" {
  themes: false;
  root: ":root";
  
  exclude: rootcolor;
}

@theme {
  --color-bg-dark: #333434;
  --color-fg-dark: #F2F4E8;

  --color-bg: #FCFFEF;
  --color-fg: #333434;

  --color-bus: #EA9236;
  --color-tram: #81BD50;
  --color-metro: #398ACC;
  --color-vline: #794296;

  --font-sans: "Public Sans Variable", sans-serif;
}