---
import ResponsiveLogo from "./ResponsiveLogo.astro";
import { Icon } from 'astro-icon/components';
---

<div class="flex flex-col gap-4 items-center justify-center h-screen">
  <div class="flex flex-row gap-4 items-center justify-center text-left max-w-[30ch]">
    <ResponsiveLogo width={160} />
    <h1 class="text-2xl md:text-4xl font-bold">Student Transport Riders Association</h1>
  </div>
  <h2 class="text-xl md:text-2xl font-semibold">We are the premier student organisation for public transport advocacy in Victoria.</h1>
  <h3 class="text-lg md:text-xl font-regular">Website coming soon, follow us on our social media for updates.</h2>
  <div class="flex flex-row gap-4 justify-center">
    <a href="https://instagram.com/stra_au">
      <Icon name="simple-icons:instagram" size={28} />
    </a>
    <a href="https://bsky.app/profile/stra.org.au">
      <Icon name="simple-icons:bluesky" size={28} />
    </a>
    <a href="https://aus.social/@stra" rel="me">
      <Icon name="simple-icons:mastodon" size={28} />
    </a>
  </div>
</div>