---
import "@fontsource-variable/public-sans";

import "~/styles/global.css";
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="shortcut icon" href="/favicon.ico" />
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
		<link rel="manifest" href="/site.webmanifest" />

		<meta name="generator" content={Astro.generator} />
		<title>Student Transport Riders Association</title>
	</head>
	<body class="min-h-screen min-w-screen flex flex-col bg-bg-dark text-fg-dark">
		<slot />
	</body>
</html>

